<%= form_for @user, url: update_user_path, method: :patch do |f| %>
    <div class="form-group">
        <%= f.label :name, "名前" %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :phone_number, "電話番号" %>
        <%= f.text_field :phone_number, class: 'form-control' %>
    </div>

    <%= f.submit "更新", class: 'btn btn-primary' %>
<% end %>
